In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/ventas_comercial/combined_csv.csv')

In [4]:
df

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,22427,22428,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,ACT I
1,22428,22429,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,SCENE I. A hall in DUKE SOLINUS'S palace.
2,22429,22430,A Comedy of Errors,132.0,NaN,OCTAVIUS CAESAR,"Enter DUKE SOLINUS, AEGEON, Gaoler, Officers, ..."
3,22430,22431,A Comedy of Errors,1.0,1.1.1,AEGEON,"Proceed, Solinus, to procure my fall"
4,22431,22432,A Comedy of Errors,1.0,1.1.2,AEGEON,And by the doom of death end woes and all.
...,...,...,...,...,...,...,...
111391,107902,107903,Two Gentlemen of Verona,52.0,5.4.177,VALENTINE,"Come, Proteus, 'tis your penance but to hear"
111392,107903,107904,Two Gentlemen of Verona,52.0,5.4.178,VALENTINE,The story of your loves discovered:
111393,107904,107905,Two Gentlemen of Verona,52.0,5.4.179,VALENTINE,"That done, our day of marriage shall be yours,"
111394,107905,107906,Two Gentlemen of Verona,52.0,5.4.180,VALENTINE,"One feast, one house, one mutual happiness."
111395,107906,107907,Two Gentlemen of Verona,52.0,NaN,VALENTINE,Exeunt

In [5]:
df.describe()

          Unnamed: 0       Dataline  PlayerLinenumber
count  111396.000000  111396.000000     111393.000000
mean    55697.500000   55698.500000         36.885334
std     32157.399631   32157.399631         39.985840
min         0.000000       1.000000          1.000000
25%     27848.750000   27849.750000         10.000000
50%     55697.500000   55698.500000         25.000000
75%     83546.250000   83547.250000         50.000000
max    111395.000000  111396.000000        405.000000

In [6]:
df.isnull().sum()

Unnamed: 0             0
Dataline               0
Play                   0
PlayerLinenumber       3
ActSceneLine        6243
Player                 7
PlayerLine             0
dtype: int64

In [22]:
filtro_players = df.groupby('Play')['Player'].unique()
filtro_players = filtro_players.apply(lambda x: len(x))
filtro_players

array(['OCTAVIUS CAESAR', 'AEGEON', 'DUKE SOLINUS', 'Gaoler',
       'First Merchant', 'OF SYRACUSE', 'DROMIO OF SYRACUSE',
       'DROMIO OF EPHESUS', 'ADRIANA', 'LUCIANA', 'OF EPHESUS',
       'BALTHAZAR', 'LUCE', 'ANTIPHOLUS', 'ANGELO', 'Second Merchant',
       'Officer', 'Courtezan', 'PINCH', 'AEMELIA', 'Servant'],
      dtype=object)