In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/companies.csv")

In [3]:
df

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
496,497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
497,498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
498,499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
499,500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [4]:
df.describe()

,Rank,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,500.000000,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,250.492000,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,144.477366,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,1.000000,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,125.750000,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,250.500000,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,375.250000,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,500.000000,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

In [5]:
df.isnull().sum()

Rank           0
Title          0
Website        0
Employees      0
Sector         0
Industry       0
Hqlocation     0
Hqaddr         0
Hqcity         0
Hqstate        0
Hqzip          0
Hqtel          0
Ceo            0
Ceo-title      0
Address        0
Ticker         0
Fullname       0
Revenues       0
Revchange      0
Profits        0
Prftchange     0
Assets         0
Totshequity    0
dtype: int64

In [6]:
empresas_gigantes = len(df[df["Employees"] >= 300000])
empresas_grandes = len(df[(df["Employees"] >= 100000) & (df["Employees"] < 300000)])
empresas_medianas = len(df[(df["Employees"] < 100000) & (df["Employees"] >= 30000)])
empresas_chicas = len(df[(df["Employees"] < 30000)])

print(f'De {len(df)} empresas:')
print(f'Hay {empresas_gigantes} gigantes. ({int((empresas_gigantes/len(df))*100)}%)')
print(f'Hay {empresas_grandes} grandes. ({int((empresas_grandes/len(df))*100)}%)')
print(f'Hay {empresas_medianas} medianas. ({int((empresas_medianas/len(df))*100)}%)')
print(f'Hay {empresas_chicas} chicas. ({int((empresas_chicas/len(df))*100)}%)')

De 500 empresas:
Hay 12 gigantes. (2%)
Hay 55 grandes. (11%)
Hay 160 medianas. (32%)
Hay 273 chicas. (54%)

In [7]:
sectores = df["Sector"].value_counts()
sectores.head()

Financials     84
Energy         57
Retailing      47
Technology     43
Health Care    38
Name: Sector, dtype: int64

In [8]:
sort_profits = df.sort_values(by='Profits', ascending=False).set_index('Profits')
sort_profits

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Prftchange,Assets,Totshequity
Profits,,,,,,,,,,,,,,,,,,,,,
45687.0,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Timothy D. Cook,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,-14.4,321686,128249.0
24733.0,21,J.P. Morgan Chase,http://www.jpmorganchase.com,243355,Financials,Commercial Banks,"New York, NY",270 Park Ave.,New York,NY,...,James Dimon,"Chairman, President & Chief Executive Officer","270 Park Ave., New York, NY 10017",JPM,JPMorgan Chase & Co.,105486,4.4,1.2,2490972,254190.0
24074.0,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Warren E. Buffett,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,0,620854,283001.0
21938.0,25,Wells Fargo,http://www.wellsfargo.com,269100,Financials,Commercial Banks,"San Francisco, CA",420 Montgomery St.,San Francisco,CA,...,Timothy J. Sloan,"President, Chief Executive Officer & Director","420 Montgomery St., San Francisco, CA 94163",WFC,Wells Fargo & Company,94176,4.6,-4.2,1930115,199581.0
19478.0,27,Alphabet,http://www.abc.xyz,72053,Technology,Internet Services and Retailing,"Mountain View, CA",1600 Amphitheatre Pkwy.,Mountain View,CA,...,Larry Page,Chief Executive Officer & Director,"1600 Amphitheatre Pkwy., Mountain View, CA 94043",GOOGL,Alphabet Inc.,90272,20.4,19.1,167497,139036.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-3615.0,115,ConocoPhillips,http://www.conocophillips.com,13300,Energy,"Mining, Crude-Oil Production","Houston, TX",600 N. Dairy Ashford Rd.,Houston,TX,...,Ryan M. Lance,Chairman & Chief Executive Officer,"600 N. Dairy Ashford Rd. , Houston, TX 77079",COP,ConocoPhillips,24360,-21.3,10.6,89772,34974.0
-4154.0,175,Freeport-McMoRan,http://www.fcx.com,30000,Energy,"Mining, Crude-Oil Production","Phoenix, AZ",333 N. Central Ave.,Phoenix,AZ,...,Richard C. Adkerson,"President, Chief Executive Officer & Director","333 N. Central Ave., Phoenix, AZ 85004",FCX,Freeport-McMoRan Inc.,15789,-0.6,4.4,37317,6051.0
-4401.0,343,Chesapeake Energy,http://www.chk.com,3300,Energy,"Mining, Crude-Oil Production","Oklahoma City, OK",6100 N. Western Ave.,Oklahoma City,OK,...,Robert D. Lawler,"President, Chief Executive Officer & Director","6100 N. Western Ave., Oklahoma City, OK 73118",CHK,Chesapeake Energy Corporation,7872,-38.3,7.1,13028,-1460.0
-5763.0,173,Halliburton,http://www.halliburton.com,50000,Energy,"Oil and Gas Equipment, Services","Houston, TX",3000 N. Sam Houston Pkwy E.,Houston,TX,...,Jeffrey A. Miller,"President, Chief Executive Officer & Director","3000 N. Sam Houston Pkwy E., Houston, TX 77032",HAL,Halliburton Company,15887,-32.8,16.7,27000,9409.0
-6177.0,196,FirstEnergy,http://www.firstenergycorp.com,15707,Energy,Utilities: Gas and Electric,"Akron, OH",76 S. Main St.,Akron,OH,...,Charles E. Jones,"President, Chief Executive Officer & Director","76 S. Main St., Akron, OH 44308",FE,FirstEnergy Corp.,14156,-3.1,"-1,168.70",43148,6241.0

In [9]:
promedio_empleados_sector = df.groupby('Sector')["Employees"].mean().sort_values(ascending = False)
promedio_empleados_sector.astype(int)

Sector
Food & Drug Stores               198585
Hotels, Restaurants & Leisure    183874
Retailing                        123827
Motor Vehicles & Parts            91025
Telecommunications                79324
Transportation                    78305
Aerospace & Defense               71986
Technology                        70915
Industrials                       64436
Health Care                       61616
Apparel                           50930
Business Services                 42252
Food, Beverages & Tobacco         41679
Household Products                40278
Financials                        37642
Media                             34431
Chemicals                         26064
Engineering & Construction        25314
Wholesalers                       21753
Materials                         20280
Energy                            15254
Name: Employees, dtype: int32