In [ ]:
#%ls

In [ ]:
#%ls data

In [1]:
path_file= "data/countries.csv"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(path_file)

In [4]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [5]:
df.shape

(227, 20)

In [6]:
#df.info()

In [7]:
#prueben df.describe()
#df.dtypes

In [ ]:
df.isnull().sum()

Reading Column

In [8]:
df.Region

0            ASIA (EX. NEAR EAST)
1      EASTERN EUROPE
2      NORTHERN AFRICA
3      OCEANIA
4      WESTERN EUROPE
                      ...
222    NEAR EAST
223    NORTHERN AFRICA
224    NEAR EAST
225    SUB-SAHARAN AFRICA
226    SUB-SAHARAN AFRICA
Name: Region, Length: 227, dtype: object

In [ ]:
type(df["Country"])

In [ ]:
type(df[["Country","Region"]])

Select rows y columns

In [ ]:
df.loc[0:5,["Country","Region"]]

In [ ]:
df["Population"]>1_000_000_000

In [ ]:
filter = df["Population"]>1_000_000_000

In [ ]:
df[filter]

In [ ]:
american_filter = df["Region"].str.contains("AMER")
df[american_filter]

### ¿Que paises hay en europa?

In [ ]:
list(df["Region"].unique())

In [ ]:
lista_regiones = list(df["Region"].unique())[1:3]

In [ ]:
df[df["Region"].isin(lista_regiones)]

In [ ]:
(df.Region == "EASTERN EUROPE").sum()

clean col

In [ ]:
df["Region"] = df["Region"] .str.strip()

In [ ]:
list(df["Region"].unique())

# ~ Anti filtro

In [ ]:
df[~df["Region"].isin(["WESTERN EUROPE",'EASTERN EUROPE'])]

In [ ]:
df["Country"]

## Reindexing

In [ ]:
df["Country"] = df["Country"].map(str.strip)

In [ ]:
df.set_index("Country", inplace=True)

In [ ]:
df

In [ ]:
df.loc["France":"Germany", ["Region","Population"]]

## Sorting

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_values(by = 'GDP ($ per capita)', na_position='first')

## Pandas grouping
* 1- Split into groups by keys
* 2- Apply: aggregate function (sum,mean)
* 3- Combine: previous are merged

In [ ]:
regions = df.groupby("Region")

In [ ]:
df.columns

In [ ]:
regions[["Population", "Area (sq. mi.)"]].sum()

In [ ]:
regions[["Population", "Area (sq. mi.)"]].sum().sort_values(by = 'Population', ascending=False)